/* effect slide form left*/
@keyframes slideLoading {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }

  @keyframes slideJs {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }

  @keyframes slidePhp {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }

  @keyframes slideJava {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }

  @keyframes typing {
      100%{
          left: 100%;
      }
  }

  @keyframes animated-text{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  p {
    overflow: hidden;
  }
.container{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 97%;
    margin: 10px auto 10px;
    background-color: rgb(224, 65, 184);
}

h3, p {
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
  }
.text{
    color: aliceblue;
    text-align: justify;
}

html, body {
    overflow-x: hidden;
  }

.header h1{
    color: white;
    padding-top: 50px;
}

hr{
    border-top: 3px solid white;
    width: 250px;
}
.header{
    background-color: #0B3049;
    color: white;
}

.img-style{
    width: 170px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.data{
    background-color: #0B3049;
}

.margin{
    margin-top: 150px !important;
}
.data-diri{
    margin-left: -15px;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    height: 35px;
    width: 90%;
    position: relative;
}

.data-diri::after{
    content: '';
    display: block;
    position: absolute;
    height: -1px;
    width: 1%;
    bottom: 0;
    border-bottom: 35px solid #0B3049;
    border-left: 35px solid transparent;
    border-width: 15px;
    right: 0;
}

.data-diri-field{
    color: white;
    margin-top:20px;
}
.loading {
    background-color: white;
    height: 12px;
    margin-top: -4px;
}





.loading::after{
    content: '';
    display: block;
    position: relative;
    height: 100%;
    background-color: yellow;
    
}

.php::after{
    animation: 1s ease-out 0s 1 slidePhp;
    width: 75%;
}

.js::after{
    animation: 1s ease-out 0s 1 slideJs;
    width: 75%;
}

.java::after{
    animation: 1s ease-out 0s 1 slideJava;
    width: 80%;
}

.html::after{
    animation: 1s ease-out 0s 1 slideLoading;
    width: 80%;
}
.keahlian-lain {
    color: white;
    margin-top: 20px;
}

.keahlian-modif, li{
    margin-top: 1px;
}

.pendidikan h1{
    margin-top: 50px;
    font-size: 19px;
}

.pengalaman{
    margin-top: 30x;
}

.pengalaman h1{
    font-size: 19px;
    word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

.prestasi h1{
    margin-top: 30px;
    font-size: 19px;
}
.pengenalan{
    background-color: #0B3049;
    height: 180px;
    color: white;
    text-align: center;
    z-index: 1;
}
.pengenalan h4{
    padding-top: 30px;
    text-align: center;
}

.detail-prestasi ul{
    margin-bottom: 30px;
}

@media (min-width: 1200px) { 
    hr{
        border-top: 3px solid white;
        width: 500px;
    }

    .img-style{
        width: 170px;
        height: 170px;
        margin-left: 50px;
        margin-top: 1px;
    }
    .pengenalan{
        background-color: #0B3049;
        height: 180px;
        color: white;
        text-align: left;
    }
    .pengenalan h4{
        padding-top: 30px;
        text-align: left;
    }

    .pendidikan h1{
        margin-top: 150px;
        font-size: 2em;
    }
    
    .pengalaman h1{
        margin-top: 50px;
        font-size: 2em;
    }
    
    .prestasi h1{
        margin-top: 50px;
        font-size: 2em;
    }

    .container{
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    .margin{
        margin-top: 50px !important;
    }
    
    
    
}